.box_dev {
  color: white;
  font-family: "Poppins", sans-serif;
  background-image: url('../../images/fundo.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box_dev h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 100px;
  width: 750px;
  height: 112px;
  margin-bottom: -10px;
  line-height: 1.6;
}

.box_dev p {
  font-size: 16px;
  width: 750px;
  height: 60px;
}

#imgs{
  display: flex;
  justify-content: space-between;
  width: 75%;
}

#imgs_3 p{
  width: 100%;
  margin-top: 20px;
  margin-bottom: -10px;
}

#imgs_2{
  display: flex;
  width: 25%;
  justify-content: space-between;
  margin-top: 5rem;
}

.box_dev a{
  margin: 0;
  transition: transform 0.3s ease;
  display: inline-block;
}

.box_dev a:hover{
  transform: scale(1.1) translateY(-5px);
}