.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-logo{
  margin: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-5 {
  background-color: #FA9021;
  padding: 10px 20px;
  border-radius: 5px;
}

.link-5:hover {
  transform: scale(1.1);
}