.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-logo {
  margin: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
}

.nav a:not(.link-5)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: #DC7000;
  transition: width 0.5s ease;
  margin-bottom: -5px;
}

.nav a:hover:not(.link-5)::before {
  width: 100%;
}

.link-5 {
  background-color: #FA9021;
  padding: 10px 20px;
  border-radius: 5px;
  color: #FFF;
}

.link-5:hover {
  transform: scale(1.1);
}
